<div class="container" align="center">
	<img src="/assets/logo.png" class="logo">
	<span class="phone">
		888-400-9132 - Call Now for Approval
	</span>
</div>
<div class="bgimg">
	<div class="container" align="center" style="height:700px;">
		<div class="front-text">
			<span class="emptext">Instant</span> Business Cash
			<hr>
			<div class="front-sub-text">
				Fast Approval on<br>
				Business Loans up to<br>
				$50,000 in Days!
			</div>
			<div class="front-list-1">
				Low Monthly Payments
				<br>
				Apply in Minutes
				<br>
				Okay if Denied by Bank
				<br>
				As Fast as 24 hours!
			</div>
		</div>
		<div class="form-box">
			<div class="form-box-heading-1">
				24 HOUR APPROVAL - ALT RATES - FUNDING IN DAYS!
			</div>
			<%= form_for User.new, remote: true, :html => {:id => "form1"} do |f| %>
			<div class="firstname">
				<%= label_tag :firstname, "First Name" %>
				<%= text_field_tag :first_name, nil, :class => "xverify_firstname", :placeholder => "First Name" %>
			</div>
			<div class="lastname">
				<%= label_tag :lastname, "Last Name" %>
				<%= text_field_tag :last_name, nil, :class => "xverify_lastname", :placeholder => "Last Name" %>
			</div>
			<div class="email">
				<%= f.label :email %>
				<%= f.text_field :email, :class => "xverify_email", :placeholder => "bob@yahoo.com" %>
			</div>
			<div class="phone">
				<%= f.label :phone %>
				<%= f.text_field :phone, :class => "xverify_phone", :placeholder => "215-444-3344" %>
			</div>
			<%= f.submit "Get Started", :class => "submit", :id => "submit1" %>
			<div class="message" id="name_error">
			</div>
			<div class="message" id="email_error">
			</div>
			<div class="message" id="phone_error">
			</div>
			<% end %>
		</div>
	</div>
</div>
<div class="container other-content" align="center">
	<div class="row">
		<div class="span4 steps">
			<img src='/assets/step1.png'>1. Quick Survey
			<div class="step-subtext">
				Find Out If You Qualify, 100% FREE!
			</div>
		</div>
		<div class="span4 steps">
			<img src='/assets/step2.png'>2. Get an Instant Answer
			<div class="step-subtext">
				Receive an offer within minutes
			</div>
			
		</div>
		<div class="span4 steps">
			<img src='/assets/step3.png'>3. Get Your Money
			<div class="step-subtext">
				Wired to you within days
			</div>
		</div>
	</div>
	<hr>
	<hr>
	<div class="details">
		<div class="details-title">
			Why Choose Instant Business Cash?
		</div>
		If you don’t qualify for traditional business loans, or if the bank has denied your loan, Instant Business Loans can help. We provide cash for businesses with urgent cash needs. All you need to qualify is a business bank account and to have been in business for at least 2 months. We accept businesses with less than perfect credit scores.
	</div>
	<div class="details">
		<div class="details-title">
			No Prepayment Penalties
		</div>
		You can repay monthly, or prepay with no prepay penalty! You only pay interest for the days that you have borrowed, and you can use funding for nearly any business purpose.
	</div>
</div>
<div class="footer">
	<div class="container">
		<a href="/privacy" target="_blank">Privacy Policy</a>
	</div>
</div>
<%= render partial: "/users/form2" %>
<%= render partial: "/users/form3" %>

<script type="text/javascript">
(function() {
    var field = 'xxTrustedFormCertUrl';
    var provideReferrer = false;
    var tf = document.createElement('script');
    tf.type = 'text/javascript'; tf.async = true; 
    tf.src = 'http' + ('https:' == document.location.protocol ? 's' : '') +
    '://api.trustedform.com/trustedform.js?provide_referrer=' + escape(provideReferrer) + '&field=' + escape(field) + '&l='+new Date().getTime()+Math.random();
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(tf, s); }
)();
</script>
<noscript>
    <img src="http://api.trustedform.com/ns.gif" />
</noscript>
<script type="text/javascript">
	$('#submit1').click(function(event) {
  		if ($('input#first_name').val().length < 1) {
			event.preventDefault();
			$('input#first_name').css('border-color','red');
			$('#name_error').empty().append("Please fill out all fields");
		}
		if ($('input#last_name').val().length < 1) {
			event.preventDefault();
			$('input#last_name').css('border-color','red');
			$('#name_error').empty().append("Please fill out all fields");
		}
		if ($('input#user_email').val().length < 1) {
			event.preventDefault();
			$('input#user_email').css('border-color','red');
			$('#name_error').empty().append("Please fill out all fields");
		}
		if ($('input#user_phone').val().length < 1) {
			event.preventDefault();
			$('input#user_phone').css('border-color','red');
			$('#name_error').empty().append("Please fill out all fields");
		}
	});
	$('input#first_name').blur(function(event){
		if ($('input#first_name').val().length < 1) {
			event.preventDefault();
			$('#name_error').empty().append("Please fill out all fields");
			$('input#first_name').css('border-color','red');
		}
		if ($('input#first_name').val().length > 0) {
			$('#name_error').empty();
			$('input#first_name').css('border-color','#cccccc');
		}
	});
	$('input#last_name').blur(function(event){
		if ($('input#last_name').val().length < 1) {
			event.preventDefault();
			$('#name_error').empty().append("Please fill out all fields");
			$('input#last_name').css('border-color','red');
		}
		if ($('input#last_name').val().length > 0) {
			$('#name_error').empty();
			$('input#last_name').css('border-color','#cccccc');
		}
	});
	$('input#user_phone').blur(function(event){
		if ($('input#user_phone').val().length < 1) {
			event.preventDefault();
			$('#name_error').empty().append("Please fill out all fields");
			$('input#user_phone').css('border-color','red');
		}
		if ($('input#user_phone').val().length > 0) {
			$('#name_error').empty();
			$('input#user_phone').css('border-color','#cccccc');
		}
	});
	$('input#user_email').blur(function(event){
		if ($('input#user_email').val().length < 1) {
			event.preventDefault();
			$('#name_error').empty().append("Please fill out all fields");
			$('input#user_email').css('border-color','red');
		}
		if ($('input#user_email').val().length > 0) {
			$('#name_error').empty();
			$('input#user_email').css('border-color','#cccccc');
		}
	});
</script>