<div class="container bgimg" align="center">
	<img src="/assets/logo.png" class="logo">
	<div class="formimg">
		<div class="form-heading">
			Do You Qualify for Benefits?
		</div>
		<div class="progress">
			<div class="bar" style="width:10%;"></div>
		</div>
		<%= form_for User.new, remote: true, :html => {:id => "form1"} do |f| %>
			<%= f.label :age, 'How old are you?' %>
			<%= f.select :age, options_for_select(("18".."62")), {:include_blank => 'Select from'}, :onchange => ("$('#form1').submit()") %>
			<div id="newsubmit1"/>
		<% end %>
		<div class="phrase2">
			Qualify for a Free Consultation with a Disability Attorney
		</div>
	</div>
</div>
<div class="box-background">
	<div class="box-title">
		Receive a <span class="box-free">FREE</span> disability guide
	</div>
	<div class="box-learn">
		Learn:
	</div>
	<div class="box-desc">
		How to <span class="box-bold">qualify</span> for disability
	</div>
	<div class="box-desc">
		How to <span class="box-bold">apply</span> for disability
	</div>
	<div class="box-desc">
		How to <span class="box-bold">not be denied</span> your benefits
	</div>
</div>
<div class="container">
	<div class="logos-box">
		<img src="/assets/logos.png" class="logos">
	</div>
	<div class="disclaimer">
		<div class="privacy">
			<a href="/privacy"> Privacy Policy</a> | 
			<a href="/about_us"> About Us </a> |
			<a href="/fees"> Fees </a>
		</div>
		Attorney Advertisement – The information that you provide on this website is sent to a participating attorney or advocate solely on the basis of the zip code that you provide and not by any other means of evaluation.  These participating attorneys and advocates pay a fee to be part of this website and receive inquiries solely based upon the geographic regions that they choose to service.  The information that you provide on this website is used by the attorney or advocate to make a preliminary evaluation of your claim.  Not until an attorney or advocate has spoken to you on the telephone can a complete evaluation be made as to your potential eligibility for disability benefits. The ultimate determination as to the eligibility of disability benefits will be made by the Social Security Administration.
	</div>
</div>
<%= render '/users/form2' %>
<%= render '/users/form3' %>
<%= render '/users/form4' %>
<%= render '/users/form5' %>
<%= render '/users/form5b' %>
<%= render '/users/form5c' %>
<%= render '/users/form6' %>
<%= render '/users/form7' %>
<script type="text/javascript">
(function() {
    var field = 'xxTrustedFormCertUrl';
    var provideReferrer = false;
    var tf = document.createElement('script');
    tf.type = 'text/javascript'; tf.async = true; 
    tf.src = 'http' + ('https:' == document.location.protocol ? 's' : '') +
    '://api.trustedform.com/trustedform.js?provide_referrer=' + escape(provideReferrer) + '&field=' + escape(field) + '&l='+new Date().getTime()+Math.random();
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(tf, s); }
)();
</script>
<noscript>
    <img src="http://api.trustedform.com/ns.gif" />
</noscript>