<div class="container" align="center">
</div>
<div class="container" align="center">
	<div class="form-box">
		<div class="form-box-heading-1">
			24 HOUR APPROVAL - ALT RATES - FUNDING IN DAYS!
		</div>
		<%= form_for User.new, remote: true, :html => {:id => "form1"} do |f| %>
		<div class="firstname">
			<%= label_tag :firstname, "First Name" %>
			<%= text_field_tag :firstname %>
		</div>
		<div class="lastname">
			<%= label_tag :lastname, "Last Name" %>
			<%= text_field_tag :lastname %>
		</div>
		<div class="email">
			<%= f.label :email %>
			<%= f.text_field :email %>
		</div>
		<div class="phone">
			<%= f.label :phone %>
			<%= f.text_field :phone %>
		</div>
		<%= f.submit "Get Started", :class => "submit" %>
		<% end %>
	</div>
</div>


<script type="text/javascript">
(function() {
    var field = 'xxTrustedFormCertUrl';
    var provideReferrer = false;
    var tf = document.createElement('script');
    tf.type = 'text/javascript'; tf.async = true; 
    tf.src = 'http' + ('https:' == document.location.protocol ? 's' : '') +
    '://api.trustedform.com/trustedform.js?provide_referrer=' + escape(provideReferrer) + '&field=' + escape(field) + '&l='+new Date().getTime()+Math.random();
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(tf, s); }
)();
</script>
<noscript>
    <img src="http://api.trustedform.com/ns.gif" />
</noscript>