	<%= form_for @user, remote: true, :html => {:id => "form2"} do |f| %>
			<div class="businessname">
				<%= f.label :business_name, "Business Name" %>
				<%= f.text_field :business_name, :placeholder => "Business Name" %>
			</div>
			<div class="state">
				<%= f.label :state, "State" %>
				<%= f.select :state, options_for_state, :include_blank => true %>
			</div>
			<br><br><br><br>
			<div class="message" id="error2">
			</div>
			<%= f.submit "Continue!", :class => "submit", :id => "submit2" %>
			<% end %>
<script type="text/javascript">
	$('#submit2').click(function(event) {
  		if ($('input#user_business_name').val().length < 1 || $('#user_state').val() == "") {
			event.preventDefault();
			$('#error2').empty().append("Please fill out all fields");
		}
		else{
			$('#form2').hide();
			$('#form3').show().insertAfter('div.form-box-heading-1');
		}
	});
	$('input#user_business_name').blur(function(event){
		if ($('input#user_business_name').val().length < 1) {
			event.preventDefault();
			$('#error2').empty().append("Please enter your business name");
		}
		if ($('input#user_business_name').val().length > 0) {
			$('#error2').empty();
		}
	});
	$('select#user_state').bind('click change',function() {
		if ($('#user_state').val() != "") {
			$('#error2').empty();
		}
		if ($('#user_state').val() == "") {
			$('#error2').empty().append("Please select an option");
		}
	});
</script>