<%= form_for @user, :html => {:id => 'form7'} do |f| %>
	<div class="row">
		<div class="span2">
			<%= f.label :phone %>
			<%= f.text_field :phone, :placeholder => "215-444-3344" %>
		</div>
		<div class="span2">
			<%= f.label :email %>
			<%= f.text_field :email, :placeholder => "bob@yahoo.com" %>
		</div>
	</div>
	<div class="desc">
	</div>
	<div id="consent">
		<%= f.check_box :consent, {}, "Yes", "No" %>
		I agree to be contacted by phone or email according to these terms
	</div>
	<div class="message" id="phone_error"></div>
	<div class="message" id="email_error"></div>
	<div class="message" id="consent_error"></div>
	<%= f.submit "Get Guide!", :id => "submit7", :class => "submit" %>
	<div class="back-link" id="back-link-6">Back</div>
<% end %>
<script type="text/javascript">
	$('#back-link-6').click(function(){
		$('#form7').hide();
		$('#form6').show().insertAfter('div.progress');
	});

	$('input#user_phone').blur(function(event){
		if ($('input#user_phone').val().replace(/\D+/g,'').length != 10 || $('input#user_phone').val().replace(/\D+/g,'')[0] == 0 || $('input#user_phone').val().replace(/\D+/g,'')[0] == 1) {
			event.preventDefault();
			$('#phone_error').empty().append("Please enter a valid phone number");
		}
		if ($('input#user_phone').val().replace(/\D+/g,'').length == 10 && $('input#user_phone').val().replace(/\D+/g,'')[0] != 0 && $('input#user_phone').val().replace(/\D+/g,'')[0] != 1) {
			$('#phone_error').empty();
		}
	});

	$('input#user_email').blur(function(event){
		var email_format = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
		if (!email_format.test($('input#user_email').val())) {
			event.preventDefault();
			$('#email_error').empty().append("Please enter a valid email");
		}
		if (email_format.test($('input#user_email').val())) {
			$('#email_error').empty();
		}
	});

	$("#user_consent").change(function(){
		if ($("#user_consent").is(':checked') == false) {		
			$('#consent_error').empty().append("Please click the checkbox to consent");
		}
		else {
			$('#consent_error').empty();
		}
	});

	$('#submit7').click(function(event){
		var email_format = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
		if (!email_format.test($('input#user_email').val())) {
			event.preventDefault();
			$('#email_error').empty().append("Please enter a valid email");
		}
		if ($('input#user_phone').val().replace(/\D+/g,'').length != 10 || $('input#user_phone').val().replace(/\D+/g,'')[0] == 0 || $('input#user_phone').val().replace(/\D+/g,'')[0] == 1) {
			event.preventDefault();
			$('#phone_error').empty().append("Please enter your phone number");
		}
		if ($("#user_consent").is(':checked') == false) {
			event.preventDefault();
			$('#consent_error').empty().append("Please click the checkbox to consent");
		}
	});
</script>