	<%= form_for @user, :html => {:id => "form3"} do |f| %>
			<div class="bank">
				<%= f.label :bank, "Do you have 2 months of bank statements?" %>
				<%= f.select :bank, options_for_bank, :include_blank => true %>
			</div>
			<div class="age">
				<%= f.label :age, "Are you at least 21 years of age?" %>
				<%= f.select :age, options_for_age, :include_blank => true %>
			</div>
			<br><br><br><br>
			<div id="consent">
				<%= f.check_box :consent, {:checked => false}, "Yes", "No" %>
				By checking the above box, you agree to be contacted by phone, email or text/SMS 
				even if your number is on a National or State Do Not Call List. In some cases, an automated 
				dialing method may be used. Standard carrier and messages rates will apply. Your information 
				is safe & secure and will only be used for the purpose of this inquiry.
			</div>
			<div class="message" id="error3">
			</div>
			<%= f.submit "Recieve Quote!", :class => "submit", :id => "submit3" %>
			<% end %>
			<script type="text/javascript">
	$('#submit3').click(function(event) {
  		if ($('#user_bank').val() == "" || $('#user_age').val() == "" || $("#user_consent").is(':checked') == false) {
			event.preventDefault();
			$('#error3').empty().append("Please fill out all fields");
		}
	});
	$('select#user_bank').bind('click change',function() {
		if ($('#user_bank').val() != "") {
			$('#error3').empty();
		}
		if ($('#user_bank').val() == "") {
			$('#error3').empty().append("Please select an option");
		}
	});
	$('select#user_age').bind('click change',function() {
		if ($('#user_age').val() != "") {
			$('#error3').empty();
		}
		if ($('#user_age').val() == "") {
			$('#error3').empty().append("Please select an option");
		}
	});
	$("#user_consent").change(function(){
		if ($("#user_consent").is(':checked') == false) {		
			$('#error3').empty().append("Please click the checkbox to consent");
		}
		else {
			$('#error3').empty();
		}
	});
</script>